.hover-box-container {
  position: fixed;
  background-color: #101827;
  padding: 4px 8px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.hover-box-container h3 {
  font-family: verdana;
  color: #ffffff;
}

.hover-box-container .circle-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.hover-box-container .circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-box-container .circle-wrapper .circle-label {
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
  color: #ffffff;
}

.hover-box-container .circle-wrapper .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 4px;
  font-weight: bold;
  font-size: 16px;
}

.hover-box-container .money-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-box-container .money-wrapper .money {
  width: 70px;
  height: 50px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 4px;
  font-weight: bold;
  font-size: 16px;
}

.hover-box-container .money-wrapper .annotate {
  width: 70px;
  height: 20px;
  color: #fff;
  background-color: #374151;
  border-radius: 4px;
  display: flex;
  font-weight: 100;
  font-size: small;
  align-items: center;
}

.hover-box-container .money-wrapper .annotate .text {
  flex: auto;
  text-align: center;
}

.hover-box-container .money-wrapper .money-label {
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
  color: #ffffff;
}

