.impressum h1 {
  text-align: center;
}

.impressum .content {
  margin-left: 100px;
  margin-right: 100px;
}

.impressum a {
  color: var(--deck-accent, #06d3fc);
}

.impressum .github-icon {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
