.popup-container {
    background-color: #101827;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.impressum {
    color: white;
    border: no;
}

