.sideBar .panel {
    position: absolute;
    height: 90%;
    top: 55px;
    background: #101827;
    border: solid 5px black;
    border-left: 0px;
    border-radius: 0px 25px;
    display: flex;
}

.sideBar .button {
    position: absolute;
    top: 55%;
    width: 20px;
    height: 150px;
    background: #101827;
    border-radius: 0px 15px 15px 0px;
    border: solid 5px black;
    border-left: 0px;
    color: white;
    font-weight: bolder;
}

.sideBar .panel .title {
    flex: 1;
    color: white;
    background-color: aqua;
}